body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #74ebd5, #ACB6E5);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex: 1; /* ocupa el espacio disponible */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #ffffffdd;
  padding: 20px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  margin: 0 auto; /* centra horizontal */
}

h1 {
  margin-bottom: 15px;
  color: #333;
}



.container {
  display: flex;
  flex-wrap: wrap;
  width: calc(120px * 3);
  margin: 0 auto 20px auto;
  border: 3px solid #333;
  border-radius: 8px;
  overflow: hidden;
}

.casilla {
  width: 120px;
  height: 120px;
  border: 1px solid #333;
  box-sizing: border-box;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.casilla:hover {
  background-color: rgba(0,0,0,0.4);
}

.x {
  background-image: url("./x.png");
}

.o {
  background-image: url("./o.png");
}

button.reset {
  background: #333;
  color: white;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button.reset:hover {
  background: #555;
}
.scoreboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f4f4;
  border: 2px solid #333;
  border-radius: 8px;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: bold;

  width: 100%;      
  max-width: 400px;   
  box-sizing: border-box;
}


.player {
  flex: 1;
  text-align: center;
}

.player1 {
  color: #e63946; /* rojo para la X */
}

.player2 {
  color: #457b9d; /* azul para la O */
}

footer, header {
  text-align: center;
  padding: 15px;
  background: #00334e;
  font-size: 0.95rem;
  color: #aad8d3;
  width: 100%;
  margin-top: 40px;
}
header{
  margin-bottom: 40px;
  margin-top: 0px;
}
header h1 {
  margin-bottom: 15px;
  color: #aad8d3;
}
footer a {
  color: #aad8d3;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  transition: color 0.2s ease;
}

footer a:hover {
  color: #ffffff;
}

.github-icon {
  width: 18px;
  height: 18px;
  filter: invert(80%); /* aclara el logo sobre fondo oscuro */
}
footer p, header h1{
  display: flex;
  justify-self: center;
  gap: 6px;
}

